html {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

body {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

p {
    margin: 10px;
}

.world_map_title {
    font-size: 15px;
    font-weight: bold;
    color: darkslateblue;
    text-align: center;
}

.country:hover{
    fill: red;
}

.legendLinear{
    display: block;
    margin-bottom: 20px;
}

.reference{
    margin-top: 50px;
    font-size: 30px;
    text-align: left;
}

.reference_items{
    text-align: left;
    padding: 5px;
    width: 100%;
}

.dept_title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(29, 73, 34);
    text-align: center;
}

.edu_title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(29, 73, 34);
    text-align: center;
}