#dept_and_job {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}

html {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}