html {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
}

body {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}